<div class="row">
    <div class="col">
        <h1>Baseball Game</h1>
        <div class="badge bg-secondary">GameKey</div>
        <div id="game-key" class="badge bg-danger"></div>
        <br>
        <div class="badge bg-secondary">Guess</div>
        <div id="game-guess" class="badge bg-primary"></div>
        <br><br>
        <br>
        <table>

            <body>
                <tr>
                    <td><button id="button-1" class="btn btn-secondary">1</button></td>
                    <td><button id="button-2" class="btn btn-secondary">2</button></td>
                    <td><button id="button-3" class="btn btn-secondary">3</button></td>
                </tr>
                <tr>
                    <td><button id="button-4" class="btn btn-secondary">4</button></td>
                    <td><button id="button-5" class="btn btn-secondary">5</button></td>
                    <td><button id="button-6" class="btn btn-secondary">6</button></td>
                </tr>
                <tr>
                    <td><button id="button-7" class="btn btn-secondary">7</button></td>
                    <td><button id="button-8" class="btn btn-secondary">8</button></td>
                    <td><button id="button-9" class="btn btn-secondary">9</button></td>
                </tr>
                <tr>
                    <td><button id="button-0" class="btn btn-secondary">0</button></td>
                </tr>
            </body>
        </table>
        <div class="row">
            <div class="col">
                <button id="buttn-new-game" class="btn btn-outline-primary">New Game</button>
            </div>
        </div>
    </div>
    <!--leftpane: Game Board-->
    <div class="col">
        <h1>Status</h1>
        <div class="row">
            <div class="col">
                <button id="button-history" class="btn btn-outline-primary">GamePlay History</button>
            </div>
        </div>
        <br>
        <div class="container bg-secondary text-white">
            <div id="status-message"></div>
        </div>
    </div>
</div>